
@media (min-width: 768px) {

    .splide__pagination__page{
      background: transparent;
      transform: scale(1);
      z-index: 1;  
      border: 1px solid gray;
    
    }
      
    .splide__pagination__page.is-active {
      background: transparent;
      transform: scale(1.5);
      z-index: 1;
      border: 1px solid red;
    }
    
    .splide__pagination--ttb {
      gap: 11px;
      /* right: -15em; */
    }
  }

  #splide-latest {
    padding-left: 0px;
  }